<?xml version="1.0" encoding="utf-8"?>
<config>
 <params addpath="/administrator/components/com_shortlink/elements">
  <param name="spacer" type="spacer" default="&lt;hr /&gt;Location of the original 'goto.php'" label="" description="" />
  <param name="helper_path" type="checkconfigbutton" default="" label="HELPER_PATH_LABEL" description="HELPER_PATH_DESC" size="80" />
  <param name="spacer" type="spacer" default="&lt;hr /&gt;Other options" label="" description="" />
  <param name="paramname" type="text" default="link" label="PARAMNAME_LABEL" description="PARAMNAME_DESC" />
  <param name="filter_last_call" type="lastcalllist" default="total" label="LASTCALL_LABEL" description="LASTCALL_DESC" />
  <param name="filter_order" type="list" default="id" label="DEFAULTFILTERORDER_LABEL" description="DEFAULTFILTERORDER_DESC">
    <option value="id">ID</option>
    <option value="phrase">Phrase</option>
    <option value="link">Link</option>
    <option value="description">Description</option>
    <option value="create_date">Created</option>
    <option value="last_call">Last call</option>
    <option value="counter">Hits</option>
    <option value="avg_hits">avg. Hits (days)</option>
  </param>
  <param name="filter_dir" type="list" default="desc" label="DEFAULTFILTERDIR_LABEL" description="DEFAULTFILTERDIR_DESC">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </param>
 </params>
</config>